.password-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding-bottom: 20px;
    padding-top: 20px;
    gap: 30px;
    width: 400px;
    height: 50%;
    z-index: 3;
    font-size: 20px;
}

.password-form-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: transparent;
    margin: auto;
    width: 80%;
    height: 100%;

}

.password-form label {
    margin-bottom: 10px;
}

.password-form  input {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
}


.button-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    gap: 30px;
    margin: 20px auto;
}

.button-container > div {
    /*flex-grow: 1;
    text-align: center;
    cursor: pointer;
    color: #242424;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
    font-size: 16px;*/

    #display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 53px;
    text-align: center;
    #height: 40px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #00959e;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgba(0, 102, 255, 0.39);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    :hover{
        background: rgba(48, 236, 201, 0.9);
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
    }

}
